body {
    display:flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.hero-container {
    background-color: #1F2937;
    flex-basis: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 70%;
    flex-basis: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    color: #f9faf8;
    font-size: 24px;
}

.header a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.header-links {
    display: flex;
    gap: 20px;
}

.hero {
    width: 70%;
    flex: 1;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
    gap: 50px;
    color: #E5E7EB;
    font-size: 18px;
}

.hero img {
    width: 45%;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 0;
}

.hero button {
    background-color: #3882f6;
    padding: 8px 28px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: solid 1px black;
    font-size: 18px;
}

.information {
    background-color: white;
    flex-basis: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.information h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.sections {
    display: flex;
    justify-content: space-between;
}

.sections div {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 15px;
}

.sections div img {
    width: 180px;
}


.quote {
    background-color: #E5E7EB;
    flex-basis: 500px;
}

.sign-up {
    flex-basis: 350px;
    background-color: white;
}

.footer {
    flex-basis: 100px;
    background-color: #1F2937;
}